<ion-header>
  <ion-toolbar>
    <ion-title>Rocío García Deco</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../../assets/rociogarciadecobanner.jpg" />
  <div>
    <p>Bienvenidos!!!</p>
    <p>Para ver los precios coloque el lector de Qr o de código de barras para visualizar el precio del
      producto.</p>
    <p>{{resultado}}</p>
  </div>
  <div>

    <body *ngIf="true">

      <div
        style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"
        class="scanner-ui ">
        <span
          style="position: absolute; font-size: 300px; width: 50%; height: 50%; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span>
      </div>
      <div id="result">

      </div>
    </body>

    <body *ngIf="true" class="codeBarScanner">

      <div
        style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"
        class="scanner-ui">
        <span
          style="position: absolute; font-size: 300px; width: 50%; height: 50%; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span>
      </div>
      <div id="result">

      </div>
    </body>
  </div>
</ion-content>
<!--   <div [ngClass]="{ 'show-camera': showCamera }">
    <video #video autoplay *ngIf="showCamera"></video>
  </div>
  <button (click)="startScanning()" *ngIf="!showCamera">Abrir Cámara</button> -->