<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>scanner-precios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-input value="{{result}}"></ion-input>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">scanner-precios</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content [fullscreen]="false" id="content">

  <body *ngIf="scanActive===true">

    <div
      style="position: relative; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"
      class="scanner-ui">
      <span
        style="position: absolute; font-size: 300px; width: 50%; height: 50%; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span>
    </div>
    <div id="result">
      {{result}}
    </div>
  </body>

  <body *ngIf="scanActive===true" class="codeBarScanner">

    <div
      style="position: absolute; left: 0px; top: -2px; height: 1px; overflow: hidden; visibility: hidden; width: 1px;"
      class="scanner-ui">
      <span
        style="position: absolute; font-size: 300px; width: 50%; height: 50%; margin: 0px; padding: 0px; font-family: Roboto, Arial, sans-serif;">BESbswy</span>
    </div>
    <div id="result">
      {{result}}
    </div>
  </body>
</ion-content>