<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Precios</ion-title>
    <div class="texto-resultado">Producto:{{result}}</div>
    <div class="texto-resultado">Precio: {{precio | currency}}</div>
  </ion-toolbar>
</ion-header>

<ion-input></ion-input>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">scanner-precios</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
<ion-content [fullscreen]="true" id="content">


  <body *ngIf="scanActive===true" style="margin-top: -40vh;">
    <div class="scanner-ui" style="margin-bottom: 5vh;">
      <span>BESbswy</span>
    </div>
  </body>

  <body *ngIf="scanActive===true" class="codeBarScanner" style="margin-top: -5vh;">
    <div class="scanner-ui">
      <span>BESbswy</span>
    </div>
  </body>
</ion-content>